<div ng-include="'components/navbar/navbar.html'">
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dozenten anlegen:</h1>
        </div>
    </div>

    <form class="thing-form">

        <form class="form" name="form" novalidate>

            <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
                <label>Vorname des Dozenten</label>

                <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Vorname" required/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A name is required
                </p>
            </div>

            <div>
                <label> Nachname des Dozenten:</label>
                <input type="text" ng-model="nName" class="form-control" placeholder="Nachname">
            </div>


            <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
                <label>Email des Dozenten (Log In - Email des Dozenten)</label>

                <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="E-Mail" required mongoose-error/>
                <p class="help-block" ng-show="form.email.$error.email && submitted">
                    Doesn't look like a valid email.
                </p>
                <p class="help-block" ng-show="form.email.$error.required && submitted">
                    What's your email address?
                </p>
                <p class="help-block" ng-show="form.email.$error.mongoose">
                    {{ errors.email }}
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
                <label>Password (Log In - Passwort des Dozenten)</label>

                <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" ng-minlength="3" required mongoose-error/>
                <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                    Password must be at least 3 characters.
                </p>
                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.password }}
                </p>
            </div>

            <!--   <label>Student oder Dozent?</label>





            <div class="form-group">
                <select ng-model="user.role" class="form-control" placeholder="Role">
                    <option value="dozent">Dozent</option>
                    <option value="student">Student</option>
                </select>
            </div> -->

        </form>





        <div>
            <label> Geburtsdatum des Dozenten:</label>
            <input type="text" ng-model="GebDatum" class="form-control" placeholder="Geburtsdatum (dd.mm.yyyy)">
        </div>

        <div>
            <label> Geschlecht des Dozenten:</label>
            <select class="form-control" id="sel1" ng-model="stGeschl">
                <option value="m">Männlich</option>
                <option value="w">Weiblich</option>
            </select>
        </div>



        <div>
            <button ng-click="addDozent()" class="btn btn-primary">Dozent hinzufügen</button>
        </div>

    </form>