<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-init="getUserInfos()">
  <div class="col-md-12">
    <h1>Testat Bewerten</h1>
    <div class="page-header">
      <h3>Vorlesung auswählen:</h3>
      <select class="form-control  col-md-8" id="sel1" ng-model="testattitel" ng-click="changeValue(testattitel)">
        <option ng-repeat="t in studentenInfos.vorlesung">{{t.Bezeichnung}}</option>
      </select>
      <h3>Testat auswählen:</h3>
      <select class="form-control  col-md-8" id="sel1" ng-model="testattiteltt">
        <option ng-repeat="t in testatList" ng-selected="changeTestat()">{{t.Titel}}</option>
      </select>
    </div>
  </div>
  <form class="thing-form col-md-12">
    <div class="col-md-3">
      <h4>Student auswählen:</h4>
      <select class="form-control  col-md-8" id="sel1" ng-model="testat.student" size="8">
        <option ng-repeat="t in studenteList">{{t.nName}}, {{t.vName}}</option>
      </select>
    </div>
    <div class="col-md-9 input-group">

      <form class="">
        <div ng-repeat="t in aktTestat.Kriterien">
          <!-- ng-repeat-->
          <h3>sdfggfsd{{t.Titel}}</h3>
          <label class="form-control col-md-1" ng-model="bewertung.kriterium">KriteriumX</label>
          <!-- If Score Show -->
          <input type="text" ng-model="bewertung.scoreX" class="form-control col-md-1" placeholder="Score">
          <!-- If H2 Show -->
          <select class="form-control col-md-2" id="sel2">
            <option>1</option>
            <option>2</option>
          </select>
          <label class="form-control col-md-2" ng-model="bewertung.ImpactX">Impact</label>
          <input type="text" ng-model="bewertung.impact" class="form-control col-md-1" placeholder="Impact">
        </div>
      </form>
      <h3></h3>
      <p class="input-group">
        <button type="submit" class="btn btn-primary" ng-click="addTestat()">Speichern</button>
        </span>
      </p>
    </div>
    <h3></h3>
    <p class="input-group">
      <button type="submit" class="btn btn-primary" ng-click="saveCalc()">Speichern</button>
      </span>
    </p>

  </form>
</div>