<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" ng-init="getUserInfos()">
  <div class="col-md-12">
    <h1 class="page-header">Hallo {{ getCurrentUser().name }}</h1>
  </div>
  <div class="panel panel-primary col-md-3">
    <h4 class="panel-heading">Vorname:</h4>
    <label class="panel-body" ng-model="student.vName">{{studentenInfos.name}}</label>
  </div>
  <div class="panel panel-primary col-md-3">
    <h4 class="panel-heading">Nachname:</h4>
    <label class="panel-body" ng-model="student.nName">{{studentenInfos.nName}}</label>
  </div>
  <div class="panel panel-primary col-md-3">
    <h4 class="panel-heading">Geburtstag:</h4>
    <label class="panel-body" ng-model="student.gebDatum">{{studentenInfos.gebDatum}}</label>
  </div>
  <div class="panel panel-primary col-md-3">
    <h4 class="panel-heading">Email:</h4>
    <label class="panel-body" ng-model="student.eMail">{{studentenInfos.email}}</label>
  </div>
  <div class="panel panel-default col-md-12">
    <div class="col-md-6">
      <h3 class="panel-header">Vorlesungen:</h3>
      <select class="form-control" id="sel1" size="4" ng-model="vorlSelect">
        <option ng-repeat="t in studentenInfos.vorlesung" ng-click="ausgewaehlt()">{{t.Bezeichnung}}</option>
      </select>
      <label ng-model="student.Vorlesungn">{{studentenInfos.Vorlesungn}}</label>
    </div>
    <div class="col-md-6">
      <h3 class="panel-header">Testate:</h3>
      <select class="form-control" id="sel1" size="4" ng-model="testatSelect">
        <option ng-repeat="t in aktVorlesung" ng-click="testAusgewaehlt()">{{t.Titel}}</option>
      </select>
      <label ng-model="student.Vorlesungn">{{studentenInfos.Vorlesungn}}</label>
    </div>
    <div class="col-md-6">
      <h3 class="panel-header">Kriterien:</h3>
      <select class="form-control" id="sel1" size="4" ng-model="kritSelect">
        <option ng-repeat="t in kritList" ng-click="changeShowInfo()">{{t.Kriterium}}</option>
      </select>
      <label ng-model="student.Vorlesungn">{{studentenInfos.Vorlesungn}}</label>
    </div>
    <div class="col-md-6">
      <h3 class="panel-header">Informationen:</h3>
      <label ng-model="student.impact">Impact: {{kritInfos.impact}}</label>
      </br>
      <label ng-model="student.score">{{kritInfos.isH2}}</label>
      </br>
      <label ng-model="student.score">{{kritInfos.rate}}</label>
      </br>
      <label ng-model="student.gesamt">Gesamtscore: {{kritInfos.gesScore}}</label>
    </div>
  </div>
</div>